body {
    background-color: rgb(178, 196, 216);
    display: flexbox;
}

.main-mobile {
    margin: 20px;
    display: flexbox;
    justify-content: space-between;
    align-content: space-between;
}

.ads-table {
    margin-top: 20px;
}